<a href="https://colab.research.google.com/github/b2220290/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220940', 'b2222010', 'b2224650', 'b2227390', 'b2229790']
```

In [ ]:
# 入力用
import random
num=[]
for i in range(5):
  num.append(2220000+random.randrange(10,2801,10))
new=["b"+str(j) for j in num]
print(new)

['b2222430', 'b2221170', 'b2221530', 'b2222220', 'b2221650']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
def mk_list():
  x=[i for i in range(1,10)]
  random.shuffle(x)
  return x[:5]

a=mk_list()
b=mk_list()
c=[a[j]+b[j] for j in range(5)]
print(f"1つ目のリスト:{a}")
print(f"2つ目のリスト:{b}")
print(f"足し合わせたリスト:{c}")

1つ目のリスト:[3, 1, 7, 6, 8]
2つ目のリスト:[9, 7, 2, 8, 1]
足し合わせたリスト:[12, 8, 9, 14, 9]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
new_list=[]
import random
random.shuffle(todohuken_list)
while(True):
  if len(todohuken_list)<4:
    new_list.append(todohuken_list)
    break
  mi_list=todohuken_list[:4]
  new_list.append(mi_list)
  del todohuken_list[:4]
print(new_list)

[['山形県', '山口県', '栃木県', '宮城県'], ['北海道', '神奈川県', '鳥取県', '宮崎県'], ['福岡県', '鹿児島県', '高知県', '山梨県'], ['広島県', '青森県', '秋田県', '岡山県'], ['福島県', '岩手県', '大分県', '岐阜県'], ['茨城県', '三重県', '島根県', '東京都'], ['千葉県', '愛媛県', '熊本県', '静岡県'], ['福井県', '徳島県', '埼玉県', '大阪府'], ['佐賀県', '香川県', '和歌山県', '愛知県'], ['長崎県', '石川県', '富山県', '群馬県'], ['新潟県', '京都府', '沖縄県', '奈良県'], ['兵庫県', '滋賀県', '長野県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

# このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [4]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
print(university_list)
print(sorted(university_list,key=lambda x: int(x.split(',')[1]))) #key=関数で処理

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
FizzBuzz=[]
Fizz=[]
Buzz=[]
others=[]
con=[FizzBuzz,Fizz,Buzz,others]
N=int(input())
for n in range(1,N+1):
  if(n%3==0 and n%5==0):
    FizzBuzz.append(n)
  elif(n%3==0):
    Fizz.append(n)
  elif(n%5==0):
    Buzz.append(n)
  else:
    others.append(n)
for m in range(len(con)):
  print(f"{con[m]}の数：{len(con[m])}") #リスト名を抽出

100
[15, 30, 45, 60, 75, 90]の数：6
[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]の数：27
[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]の数：14
[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]の数：53